:host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 201, 147);
}

.digitalClock {
    position: relative;
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: rgb(151, 95, 12);
    border: 20px salmon thistle;
    border: radius 5px; 
    box-shadow:inset 0 0 black
                      0 20px 20px rgba($color: #000000, $alpha: 1.0);
    font-size:26 ;
    color: blanchedalmond;
    text-transform: uppercase;
        

}
.dayTitle {
    font-size: 26px;
    color: burlywood;
    text-transform:uppercase ;
}
.digitalTime {
    display: flex;
}

.ampm {
    
    font-size: 15px;
}